body{
font-family:Arial;
background:#f4f7f4;
}

.container{
width:600px;
margin:auto;
margin-top:50px;
padding:20px;
background:white;
border-radius:10px;
box-shadow:0 0 10px gray;
}

h1{
text-align:center;
color:green;
}

input{
width:100%;
padding:10px;
margin:10px 0;
}

button{
width:100%;
padding:12px;
background:green;
color:white;
border:none;
cursor:pointer;
}

img{
display:block;
margin:auto;
}
